name: Publish to NPM

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  npm-publish:
    name: Upload release to NPM
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
    - uses: actions/checkout@v3
    - name: Set up Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '18'
        registry-url: 'https://registry.npmjs.org'
        
    - name: Install Dependencies
      run: |
        cd node
        npm install

    - name: Publish to NPM
      run: |
        cd node
        npm publish --access public
      env:
        NODE_AUTH_TOKEN: ${{ secrets.TOKEN_GIT_COMMIT_SUMMARY_NPM }}
